{
	"Addons": {
		"email": {
			"Sender": {
				"Address": "todo@example.com",
				"Name": "Pass"
			},
			"Server": "todo.example.com"
		}
	},
	"Certificate": {
		"File": "cert.crt",
		"Key": "cert.key"
	},
	"HSTS": {
		"MaxAge": 9000001,
		"IncludeSubdomains": false,
		"Preload": false
	},
	"Hostname": "pass.example.com",
	"ListenAddress": "[::]:4443",
	"PDOString": "postgres://password_frontend@localhost/passwords?sslmode=disable",
	"Secret": "example: dd if=/dev/random bs=128 count=1 | base64 -w0 ; echo",
	"PasswordLength": {
		"Min": 20,
		"Max": 1024
	},
	"MinEntryLength": 2048,
	"SecretDays": 7,
	"Title": "Pass",
	"TemplatePath": "templates",
	"TrustedProxies": [],
	"TrustedProxyIPHeader": ""
}
